.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: #D8C3A5;

}

.sub-main{
    display:flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(204, 20, 207);
    padding-top: 30px;
    border-radius: 60px;
    background-color:#D8C3A5;

}
.mark{
    font-size: 40px;
    font-weight: 600;
    background-color: red;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #E85A4F;
    color:white;
}
*::-webkit-scrollbar {
    display: none;
  }
  
