
.button{
    
    color:black;
    font-weight:1000;
    text-decoration: none;
    
}
.strength{
    font-style: italic;
     color:blue;
}

.h1{
    text-align: center;
}
.hr{
    width:200px;
    margin-left: 650px;
    border:3px solid;
    color:#E85A4F;
    
}
.P{
    color:white;
    font-size:20px;
    font-weight: 700;
    justify-content: center;
    
    text-align: center;
}
.icon1{
    height:50px;
     width:80px;
     color:#E85A4F;
}
.text{
    color: grey;
    font-weight: 700;
}

.text1{
    color:black;
    font-weight: 900;
    font-size: large;
}
.special{
    background-color: #EAE7DC;
}
.specialist{
    text-align: center;
}

.hr1{
    width:400px;
    margin-left: 550px;
    border:2px solid;
    color:orangered;
    
}
.specialist h5{
    text-align: center;
    color: #E98074;
}
.specialist h3{
    padding-top: 5px;
}
.spl{
    display: flex;
    justify-content: space-around;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    border: none;
    margin: 5px;
    
     /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    /* position: relative;  */
    width: 100%;
    height: 100%;
    text-align: center; 
    transition: transform 0.8s; 
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
     position: absolute; 
    width: 100%;
    height: 100%;
     -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front  h4
{
    color:#E85A4F;
}
.flip-card-back  h4
{
    color:black;
}
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:transparent;
    color: black;
    justify-content:space-around;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #E09874;
    color: white;
    justify-content:space-around;
    transform: rotateY(180deg);
  }
   
 .flip-card-front .icon {
    justify-content: flex-start;
    border-radius: 50%;
    border: 2px solid red;
    padding: 5px;
    font-size: 30px;
    width:100px;
    height:50px;
  } 

 /* .flip-card-front .icon{
    display:flex;
    height:40px;
     width:55px;
     font-size:30px ;
     padding: 2px;
     color:#E85A4F;
     border-radius: 50%;
     border:2px solid black;
     background-color: black;
} */